#legand{
  width: 25%;
}
a {
  color: red;
}

body{
  background-image: url("../Images/ThugLifeNeverDie.jpg");
  background-size:cover;
  padding:159.5px 0px 100px 0px;
  text-align:center;
  font-family: fantasy;
}
h1{
  color: red;
  font-size: 50px;
}
.navbar{
  background-color: red;
  overflow: hidden;
  margin:auto;
  width: 100%
}
.inner-navbar{
  width: 80%;
  margin: 0 auto;
}
.navbar a{
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px

}
.navbar a:hover{
background-color: black;
color: red;
text-align: center;

}
.navbar .active{
background-color: red;
color: black;
}
.
p{
  color: red;
  font-size: 16.5px;
}
.myBros {
  border: 5px solid red;
  margin-left: 100px;
}
table{
  color: orange;
}
th {
  text-align: center;
  font-size: 23px;
}
td{
  font-size: 17px;
}
p1{
  font-size: 50px;
  text-align: center;
  color: orange;
}
.myHGSfam{
  height: 550px;
  width: 700px;
}
.Col0rM3{
  border: 5px solid red;
  margin-left: 15px;
  font-size: 23px;
}
.z3Ze{
  border: 5px solid red;
  margin-left: 480px;
  font-size: 23px;
}
.p2{
  font-size: 40px;
  color: red;
}
.p3{
  font-size: 35px;
  color: blue;
}
.p4{
  color: red;
  font-size: 18px
}
.hi3{
  color: red;
}
.sleep{
  color: red;
}
.bye{
  color: red;
}
.dog{
  color: red;
  font-size: 18px
}
.red{
  display: inline-block;
}
.red input:hover{
  background-color: black;
  color: red;
  text-align: center;
border: none;
}
.red{
  background-color: red;
  color: black;
}
